<div class="todo-list-container" [ngClass]="{ removeBg: isCalendarPage }">
  <ng-container *ngIf="!isCalendarPage">
    <div class="todo-list-title">
      <img src="/assets/icons/task_square.svg" alt="task square" />
      <h1 class="title">Today's to do list</h1>
    </div>
  </ng-container>

  <ng-container *ngIf="todos$ | asyncy as todos">
    @if (todos.length > 0) {
      <div class="todo-scroll">
        <ul class="todo-list">
          @for (todo of todos; track todo) {
            <li>
              <app-todo-card
                [isCalendarPage]="isCalendarPage"
                [todo]="todo"
                (toogleTodoStatus)="handleTodoStatus($event)"></app-todo-card>
            </li>
          }
        </ul>
      </div>
    } @else {
      <div class="todo-scroll todo-motivation">
        <p>Just do something you lazy piece of crap</p>
      </div>
    }
  </ng-container>
</div>
