.container {
    padding: 16px;
}

.features {
    height: 100%;

    color: var(--primary-text-color);
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 20px;
    font-weight: 500;
}