.footer {
  height: 68px;
  position: fixed;
  bottom: 0;

  width: 100%;
  backdrop-filter: blur(10px);
  background: rgb(30, 31, 36);
}

.buttons-group {
    padding: 14px 30px 45px 40px;

    display: flex;
    justify-content: space-between;
}

.button {
    border: none;
    outline: none;
    padding: 0;
    height: fit-content;
}


.button.add {
    background-color: rgb(29, 119, 255);
    border-radius: 50%;
    padding: 12px;
    transform: translateY(-50%);
}

button {
    cursor: pointer;
}