.chest {
  position: relative;

  border-radius: 24px;
  background: rgb(30, 121, 255);

  display: flex;
  height: 158px;
  color: white;
}

.chest-content {
  width: 60%;
  padding: 24px 0 24px 24px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  justify-content: flex-start;
  z-index: 1;
}

.chest-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
}

.rewards-link {
  display: inline;
  color: rgba(255, 255, 255, 0.6);
}

.chest-image {
  position: relative;
  width: 182px;
  border-radius: 24px;
}

.image {
  top: 0;
  right: 0;
  border-radius: 24px;
  position: absolute;
  object-fit: contain;
}

.chest-button {
  width: 154px;
  padding: 4px 24px;
  background-color: white;
  color: rgb(30, 121, 255);
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  border-radius: 12px;
}
