<form
  #form
  [@slideInOut]="animationState"
  class="create-new-task"
  [formGroup]="taskForm"
  class="create-new-task">
  <div *ngIf="!showDatePicker && !showTagsPicker">
    <div class="resizeTap" appResizeToggle></div>
    <div class="navigation">
      <button (click)="toggleAnimation()">
        <img src="/assets/icons/task/chevron-left.svg" alt="back" />
      </button>
      <p class="section-title">Create new task</p>
      <button (click)="saveTask()" class="save-button">Save</button>
    </div>

    <div class="main-info">
      <input
        type="text"
        pInputText
        class="input input-title"
        placeholder="Task Title"
        formControlName="title" />
      <input
        type="text"
        pInputText
        class="input input-description"
        placeholder="Description"
        formControlName="description" />
    </div>

    @if (currentHeight < 350) {
      <div class="additional-info">
        <div class="time-picker">
          <button
            class="additional-info-button picked"
            (click)="toggleDatePicker()">
            @if (selectedDate) {
              <img src="/assets/icons/task/calendar.svg" alt="date" />
              {{ selectedDate | date: 'MMMM d' }}
            } @else {
              <img src="/assets/icons/task/calendar.svg" alt="date" /> Today
            }
          </button>
          <button class="additional-info-button">
            <img src="/assets/icons/task/clock.svg" alt="time" /> Time
          </button>
        </div>
        <button class="additional-info-button">
          <img src="/assets/icons/task/notification.svg" alt="notification" />
        </button>
        <button class="additional-info-button" (click)="toogleTagsPicker()">
          @if (!selectedTags || tagsLength === 0) {
            <img src="/assets/icons/task/tag.svg" alt="tag" />
          } @else {
            <img src="/assets/icons/task/tag-active.svg" alt="tag" />
            <p class="picked">{{ tagsLength }}</p>
          }
        </button>
        <button class="additional-info-button" (click)="changeCurrentHight()">
          <img src="/assets/icons/task/more.svg" alt="more" />
        </button>
      </div>
    } @else {
      <div class="additional-info flex-column">
        <div class="time-picker">
          <button
            class="large-container-button picked"
            (click)="toggleDatePicker()">
            <img src="/assets/icons/task/calendar.svg" alt="calendar" />
            @if (selectedDate) {
              <p class="additional-info-button picked">
                {{ selectedDate | date: 'MMMM d' }}
              </p>
            } @else {
              <p class="additional-info-button">Today</p>
            }
          </button>
          <button class="large-container-button">
            <p class="additional-info-button">Time</p>
          </button>
        </div>
        <button class="large-container-button">
          <img src="/assets/icons/task/notification.svg" alt="calendar" />
          <p class="additional-info-button">Add reminder</p>
        </button>

        <div class="large-container-button">
          <img src="/assets/icons/task/tag.svg" alt="calendar" />

          @if (selectedTags && selectedTags.length > 0) {
            <div class="tags-wrapper">
              <ng-container *ngFor="let tag of selectedTags">
                <div class="tag-card" [style.background]="tag.color">
                  {{ tag.name }}
                  <button (click)="removeTag(tag)">
                    <img
                      src="/assets/icons/tag/dismiss.svg"
                      alt="dismiss tag" />
                  </button>
                </div>
              </ng-container>
              <button (click)="toogleTagsPicker()" class="add-tag">
                <img src="/assets/icons/tag/add.svg" alt="add tag" />
              </button>
            </div>
          } @else {
            <button class="large-container-button" (click)="toogleTagsPicker()">
              <p class="additional-info-button">Assign tags</p>
            </button>
          }
        </div>

        <button class="large-container-button">
          <img src="/assets/icons/task/repeat.svg" alt="calendar" />
          <p class="additional-info-button">Add repeats</p>
        </button>
        <button class="large-container-button">
          <img src="/assets/icons/task/star.svg" alt="calendar" />
          <p class="additional-info-button">Make it a habit</p>
        </button>
        <button class="large-container-button">
          <img src="/assets/icons/task/gallery.svg" alt="calendar" />
          <p class="additional-info-button">Add image</p>
        </button>
      </div>
    }
  </div>

  <div *ngIf="showTagsPicker">
    <app-assign-tags
      (cancel)="toogleTagsPicker()"
      (assignTags)="selectTags($event)"></app-assign-tags>
  </div>
  <div *ngIf="showDatePicker">
    <app-date-picker (handleSave)="selectDate($event)"></app-date-picker>
  </div>
</form>
