<footer class="footer">
  <div class="buttons-group">
    <button class="button active">
      <img src="/assets/icons/home.svg" alt="home button" />
    </button>
    <button class="button">
      <img src="/assets/icons/calendar.svg" alt="home button" />
    </button>
    <button class="button add">
      <img src="/assets/icons/add.svg" alt="home button" />
    </button>
    <button class="button">
      <img src="/assets/icons/diamond_footer.svg" alt="home button" />
    </button>
    <button class="button">
      <img src="/assets/icons/feauteres.svg" alt="home button" />
    </button>
  </div>
</footer>
