.title {
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0;
}

.resizing {
  transition: 0.3s ease-in-out;
}

.secondary-text {
  color: var(--secondary-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}